* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.page {
    min-height: 100vh;
    background: #200122;
    background: -webkit-linear-gradient(to right, #6f0000, #200122);
    background: linear-gradient(to right, #6f0000, #200122);
    display: flex;
    justify-content: center;
}

.main {
        margin-top: 40px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.form-card {
    width: 100%;
    background-color: #f4f1f1;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.form-card h2 {
    text-align: center;
    margin-bottom: 16px;
    color: #010000;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #fffbfb;
    border-radius: 5px;
    color: rgb(14, 14, 14);
    border-radius: none;
    background-color: rgb(254, 254, 254);
}

button {
    padding: 8px 14px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 4px;
}

.task-list {
    width: 100%;
}

.task-item {
    background-color: #f2f2f2;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    color: #000;
}

.edit-delete {
    display: flex;
    justify-content: end;
}

.btn {
    display: flex;
    justify-content: end;
}